#pageHeader{
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size:5em;
    font-weight:bold;
}

#welcomeUser{
    
}

body {
    background-image: radial-gradient(circle at 50% 50%, white, #f0c6ff, #ffbfdd);
}

#searchBtn{
    cursor: pointer;
    border: 1px solid #ff1797;
    color: #ff1797;
}
#searchBtn:hover {
    background-color: #424242;
}

.btn.btn-primary{
    background-color: #ff1797;
    cursor: pointer;
}
.btn.btn-primary:hover {
    background-color:#424242;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px; /* add some padding to make room for the scrollbar */
  }
